BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBraces: Mozilla
ColumnLimit: 100
PackConstructorInitializers: Never
Cpp11BracedListStyle: true
IndentCaseLabels: false
IndentWidth: 4
TabWidth: 4
UseTab: Never
CompactNamespaces: true
BreakBeforeBinaryOperators: NonAssignment
AlignOperands: Align 
AlwaysBreakBeforeMultilineStrings: false
AllowAllArgumentsOnNextLine: true
AccessModifierOffset: -4
AlignEscapedNewlines: Left
DerivePointerAlignment: false
PointerAlignment: Right
SpaceAroundPointerQualifiers: Before